{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {},
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "prettier",
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "import/extensions": [
          ".js",
          ".ts",
          ".d.ts",
          ".json"
        ]
      },
      "typescript": {}
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "printWidth": 80,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-unresolved": [
      2,
      {
        "commonjs": true,
        "amd": true
      }
    ],
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "func-names": "off",
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "@typescript-eslint/member-ordering": [
      2,
      {}
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups",
        "groups": [
          "builtin",
          "external",
          "internal",
          [
            "sibling",
            "parent"
          ],
          "index"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "rules": {
        "no-unused-vars": [
          "off"
        ],
        "no-undef": [
          "off"
        ],
        "@typescript-eslint/no-unused-vars": [
          2,
          {
            "args": "none"
          }
        ]
      }
    },
    {
      "files": [
        "**/*.d.ts"
      ]
    }
  ]
}