name: Test/Build/Publish
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 22
    - run: npm install
    - run: npm run typecheck
    - run: npm test
    - run: npm run build
    - run: npm run coverage
    - uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
    - uses: actions/upload-artifact@v4
      with:
        name: Pikaso Bundles
        path: |
          umd
          lib
          esm
    - uses: codacy/codacy-coverage-reporter-action@v1
      with:
        name: Codacy Coverage Reporter
        coverage-reports: coverage/lcov.info
        project-token: ${{ secrets.CODACY_TOKEN }}